/*  Primary CSS File for https://github.com/TrifectaIII/MTG-Card-Reader-Web */

*, *:before, *:after {
    /* Required to make Choices element look right */
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: white;
}

button {
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

button:disabled,
button[disabled] {
    background-color:lightgrey;
}

.container {
    max-width: 1600px;
    padding:0 0px;
}

.row {
    margin: auto;
    text-align: center;
}

.cam_select {
    border-color:#bbb;
    color: #555;
}

.cam_select:hover {
    border-color:#888;
    color: #333;
}

.webcam_feed {
    width: 100%;
    object-fit: contain;
    background-color: white;
    background-image: url('loading.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.identify_card_button {
    width: 100%;
    margin: auto;
    display: block;
    font-size: large;
}

.identify_card_button:disabled,
.identify_card_button[disabled] {
    background-color:lightgrey!important;
    color:#555!important;
    border-color:#bbb!important;
}

.card_image {
    border-style:solid;
    border-width: 1px;
    border-color:black;
    max-width: 80%;
}

.card_list {
    width: 100%;
    height: 100%;
    resize: none;
    font-size:large;
}

.save_button {
    background-color: rgb(182, 238, 255);
}

.clear_button {
    background-color:rgb(255, 208, 216);
}

a {
    color:rgb(16, 67, 221);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9.5rem;            /* Footer height */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.main_page {
    padding-bottom: 9.5rem;    /* Footer height */
}

.full_page {
    position: relative;
    min-height: 98vh;
}

.top_spacer {
    padding-top:20px;
}

.add_button {
    background-color:rgb(196, 255, 226);
}

.remove_button {
    background-color:rgb(255, 208, 216);
}

.add_button, .remove_button, .text_button {
    width: 70%;
}

@media (min-width: 400px) {
    .add_button, .remove_button, .text_button {
        width:80%;
    }
}
@media (min-width: 550px) {
    .add_button, .remove_button {
        width:100%;
    }
    .text_button {
        width: 80%;
    }
    .card_image {
        max-width: 100%;
    }
}