/*  Primary CSS File for https://github.com/TrifectaIII/MTG-Card-Reader-Web */

*, *:before, *:after {
    /* Required to make Choices element look right */
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: white;
}

button:disabled,
button[disabled] {
    background-color:lightgrey;
}

.container {
    max-width: 1600px;
}

.row {
    margin: auto;
    text-align: center;
}

#webcam_feed {
    width: 100%;
    object-fit: contain;
    background-color: white;
    background-image: url('loading.gif');
    background-position: center;
    background-repeat: no-repeat;
}

#match_card_button {
    width: 100%;
    margin: auto;
    display: block;
    font-size: large;
}

#card_image {
    border-style:solid;
    border-radius: 13px;
    border-width: 1px;
    border-color:grey;
}

.adding_button {
    width:100%;
    background-color:rgba(0, 255, 128, 0.358);
}

.remove_button {
    width:100%;
    background-color:rgba(240, 128, 128, 0.358);
}

#card_list {
    width: 100%;
    height: 100%;
    resize: none;
    font-size:large;
}

.text_button {
    width: 100%;
}

#clear {
    background-color:rgba(240, 128, 128, 0.358);
}

a {
    color:royalblue;
}

/* #footer {
    padding-top: 100px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
} */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;            /* Footer height */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#main_page {
    padding-bottom: 5rem;    /* Footer height */
}

#full_page {
    position: relative;
    min-height: 95vh;
}