/* Notification Area Styling for https://github.com/TrifectaIII/MTG-Card-Reader-Web */

#notif_wrap {
    width:inherit;
    margin:auto;
    display:flex;
    justify-content: center; 
}

#notif {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color:rgb(255, 104, 129);
    /* border:1px solid black; */
    text-align:center;
    width:inherit;
    position:fixed;
    z-index:1;
    display:none;
    padding: 1em 1.5em;
    font-weight: bold;
}

#notif:hover {
    border-color:#333;
}

#notif_text {
    margin:auto;
    width:100%;
    line-height:normal;
}

#close_notif {
    margin:auto;
    border-color:black;
    width:100%;
    height:auto;
    margin-top:2rem;
    background-color:black;
}

#close_notif:hover {
    border-color:#333;
}

#notif_text, #close_notif {
    float:none;
}

@media (min-width: 550px) {
    #notif {
        position:relative;
    }
    #notif_text {
        float:left;
        width:auto;
        line-height: 5rem;
        margin-left:2rem;
    }

    #close_notif {
        float:right;
        width:auto;
        height:5rem;
        margin-top:auto;
    }
}
