/* Notification Area Styling for https://github.com/TrifectaIII/MTG-Card-Reader-Web */

.notif_wrap {
    width:100%;
    margin:auto;
    display:flex;
    justify-content: center; 
    padding-bottom:20px;
}

.notif {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color:rgb(255, 104, 129);
    /* border:1px solid black; */
    width:85%;
    position:fixed;
    z-index:1;
    display:none;
    padding: 1em 1.5em;
    font-weight: bold;
}

.notif_text_col {
    text-align:left;
}

.notif_text {
    margin:auto;
    width:auto;
    line-height:normal;
}

.close_notif {
    margin:auto;
    border-color:black;
    background-color:black;
    color:rgb(255, 104, 129);
    width:auto;
    margin-top:2rem;
}

.close_notif:hover, 
.close_notif:focus {
    border-color:black;
    background-color:black;
    color:white;
}

.notif_text, .close_notif {
    float:none;
}

@media (min-width: 550px) {
    
    .notif {
        position:relative;
        width:100%;
    }

    .close_notif {
        height:5rem;
        margin-top:auto;
        width:100%;
    }
}
